.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../img/iwona-castiello-d-antonio-dnMLdR814aA-unsplash.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;

    font-family: "Patrick Hand";
    font-weight: 700;
    font-style: normal;
    font-size: 62px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: white;
    font-style: normal;
    font-variant: small-caps;
    text-shadow: -1px 3px 0 #000,
        3px 7px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
  }